<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS-499 Ruth ePortfolio</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <div class="header">
            <h1>CS-499 Ruth ePortfolio</h1>
            <div class="navbar">
                <ul>
                    <li><a href="https://github.com/wardddev">Github</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="contents">
        <div class="main">
            <h1>Main</h1>
        </div>
    </div>
    <footer>
        <div class="footer">
            <h1>Footer</h1>
        </div>
    </footer>
</body>
</html>