<div id="reservationForm">
    <form id="emailForm" >
        <label for="emailInput">Enter email:</label>
        <input type="email" id="emailInput" name="email" required>

        <label for="tripInput">Enter trip:</label>
        <input type="text" id="tripInput" name="trip" required>

        <label for="guestsInput">Quantity of guests:</label>
        <input type="number" id="guestsInput" name="guests" required>

        <button type="submit">Submit</button>
    </form>
</div>